.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  color: var(--text-primary);
}

.main-content {
  flex: 1;
  position: relative;
  overflow-x: hidden;
}
